:root{
    --black-color:#313337;
    --green-color:#7ACC2D;
    --box:0px 0 2px 1px #e6e5e9;
    --normal:12px;
  }
  
  html, body{
    padding:0px;
    margin:0px;
    font-size: var(--normal);
    font-family: 'Open sans', sans-serif;
  }
  
  .container{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }
  
  /*==============navbar================*/

  nav{
    margin: auto;
    background-color: black;
  }

  .img-nav{
    display: flex;
    color: white;
    align-items: center;
    font-size: var(--normal);
    font-family: 'Open sans', sans-serif;
  }

  h1{
    font-size: var(--normal);
    font-family: 'Open sans', sans-serif;
    font-weight: normal;
    text-align: center;
  }

  ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav li a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }


  .nav li a:hover{
    color: var(--green-color);
  }

  .nav li ul{
    display: none;
    position: absolute;
    min-width: 100px;
  }

  .nav li ul li{
    position: relative;
    right: 25px;
  }

  .nav li:hover > ul{
    display: block;
  }

 

  nav{
    background-color: black;
    display: flex;
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    max-height: 60px;
  }
  
  /*
  nav ul{
    display: flex;
    list-style: none;
  }
  
  nav a{
    text-decoration: none;
    font-size: 12px;
    color: white;
  }
  
  nav li{
    padding-left: 10px;
  }
  
  nav li a:hover{
    color: var(--green-color);
  }*/
  /*==============fin del navbar================*/

  .principal{
    justify-content: center;
    text-align: center;
    box-shadow: var(--box);
    padding-top: 20px;
  }
  
  .articulos{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-around;
  }
  
  .articulo_cont{
    box-shadow: var(--box);
    text-align: center;
    background-size: cover;
    background-position: center top;
    width: 20%;
    margin: 2%;
  }
  
  .texto{
    padding-left: 3%;
  }
  
  .img_articulo{
  
  }

  /*==============footer================*/
footer{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
}

footer a{
  text-decoration: none;
  font-size: 12px;
  color: white;
}

footer a:hover{
  color: var(--green-color);
}

footer p{
  text-decoration: none;
  font-size: 12px;
  color: white;
}
/*==============fin del footer================*/