@media only screen and (max-width: 600px){

    .articulo_cont{
      width: 90%;
    }
  
    nav li{
      text-align: center;
    }
  
    .img-nav{
      
    }
  }
  
  @media only screen and (max-width: 999px){
    .container{
      width: 99vw;
    }  
  }